<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<label for="divideBy">Divide By</label>
<input id="divideBy" type="number" [(ngModel)]="divideBy" />
<label for="nth">N-th</label>
<input id="nth" type="number" [(ngModel)]="nth" />
<input type="button" (click)="compute()" value="Calculeaza"/>

<p>
    Result:<strong>{{result}}</strong>
</p>